@import '../../App.scss';


.navigation{
    list-style-type: none;
    padding: 0;
}

.navigation-container{
    background-color: $primary;

}

.nav-text a, h2.nav-text{
    color: $background;
    align-items: initial;
}

.log-table{
    margin: 1rem;
}


@media only screen and (max-width: 600px) {
    .navigation-container {
        display: none;
        border: none;
    }
    
    .card{
        margin-bottom: 1rem;
        width: 100%;
    }
  }